  body {
    background-color: aqua;
  }
        hr {
            border-style: dotted none none;
            width: 8%;
            height: 0%;

            border-width: 5px;
            border-color: aliceblue;
        }
        h1,h2,h3 {
        color: #66bfbf;
        }
    